body{
  background: url(https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1440721411000/photosp/42a0b5e6-71ac-4dcb-b898-7bcec145b212/stock-photo-nature-outdoors-winter-tree-forest-road-sky-frozen-ice-42a0b5e6-71ac-4dcb-b898-7bcec145b212.jpg)
}
h1{
  color: blue;
}
p{
  color: green;
}
li{
  color: orange;
}
